@font-face {
    font-family: 'berseker';
    src: url(../font/Berserker-Regular.woff);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'berseker';
    color: white;
    transition: 0.3s;
}

body{
    background-color: #000000;
}
  
body::before{
    content: "";
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

header > img{
    width: 370px;
}

main{
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 15.74074074074074vh);
    justify-content: center;
    gap: 18.51851851851852vh;
}
  
  .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    max-width: 600px;
  }
  

.personagem:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
}

.selecionado{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
}

.titulo{
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
}

.lista-de-personagens{
    margin: 30px;
    list-style: none;
    display: grid;
    grid-template-columns: 10.417vw 10.417vw 10.417vw 10.417vw;
    gap: 1.563vw;
}

ul > li > img{
    width: 10.417vw;
}

.personagem-selecionado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}  

.informacoes-personagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome-personagem{
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    width: 50%;
    text-align: center;
}

.descricao-personagem{
    width: 33.854vw;
    margin-top: 20px;
    font-family: 'Open Sans';
}

.personagem-grande{
    width: 15.625vw;
}

@media (max-width: 1366px){
    header > img{
        width: 250px;
        margin-top: -30px;
    }
}

@media (max-width: 1120px){
    header > img{
        width: 300px;
    }

    h1, h2{
        font-size: 20px;
    }

    main{
        display: flex;
        flex-direction: row;
        min-height: calc(100vh - 200px);
        justify-content: center;
        gap: 40px;
    }

    .lista-de-personagens img{
        width: 150px;
    }

    .lista-de-personagens{
        grid-template-columns: 10.417vw 10.417vw 10.417vw 10.417vw;
        gap: 50px;
    }

    .descricao-personagem{
        font-size: 15px;
    }
}

@media screen and (max-width:1023px) {

    header > img{
        width: 200px;
        margin-top: -20px;
    }

    main{
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .descricao-personagem{
        width: 100%;
    }

    .titulo{
        margin-top: -10px;
        width: 100%;
    }

    .lista-de-personagens img{
        width: 130px;
    }

    .personagem-grande{
        margin-top: 30px;
    }
    
}

@media screen and (max-width: 767px) {

    .descricao-personagem{
        width: 90%;
    }

    .titulo{
        font-size: 16px;
    }

    .lista-de-personagens{
        /* margin-left: -10px; */
        grid-template-columns: 90px 90px 90px 90px;
        gap: 10px;
    }

    .lista-de-personagens img{
        width: 90px;
    }

    .personagem-grande{
        width: 110px;
    }

}
